// Font
$font-serif: 'Times', 'Times new roman', serif;
$font-ss: 'Open sans', 'Helvetica', sans-serif;

// Color
$themeColor: #f4f9fc;
$mainColor: #006494;
$linkColor: #5fd8b4;

// Breakpoint
$bp-tablet: 600px;
$bp-desktop: 949px;
$bp-desktop-large: 1200px;
$bp-desktop-x-large: 1800px;

// font




html {
  font-size: 62.5%;
}
